@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">

    <h1>Folklorni ansambl Zagreb-Markovac</h1>
  
   <p>Folklorni ansambl "Zagreb-Markovac" nastao je spajanjem dvaju uzoritih folklornih ansambala: FA "Pavao Markovac" i KUD "Zagreb" nastavljajući tako neprekinutu
    tradiciju očuvanja bogate hrvatske folklorne baštine od 1945. odnosno 1978. godine.Tijekom postojanja, ansambl je sudjelovao na brojnim međunarodnim festivalima,
    te održao niz samostalnih koncerata u Italiji, Austriji, Njemačkoj, Španjolskoj, Turskoj, Francuskoj, Nizozemskoj i Mađarskoj, a najveći uspjeh postigao je 1996.
    godine u Poljskoj, osvojivši Grand prix na međunarodnom festivalu u Zywiecu kraj Krakova. Danas se Folklorni ansambl "Zagreb-Markovac" predstavlja publici sa više
    od trideset koreografija i u prosjeku, šezdesetak nastupa godišnje na kojima izvodi pjesme, plesove i običaje iz svih krajeva Hrvatske, primjerice iz: Baranje,
    Slavonije, Podravine, Međimurja, Zagorja, Prigorja, Posavine, Banovine, Like, Istre, otoka Paga, Ražanca, Dubrovnika, Bosanske Posavine...

    FA "Zagreb-Markovac" na svom programu ima koreografije, vokalno-instrumentalna djela i instrumentalna djela s područja cijele Hrvatske.
    Kako je bogatstvo hrvatske tradicijske umjetnosti nepresušno, događa se da je jedna regija predstavljena s više koreografija. 
    Razlog tomu je želja za što boljim i vjernijim prikazima različitih običaja, kako onih posebnih - uskrsnih, božićnih, svatovskih, 
    tako i onih učestalih - plesova i pjesama izvođenih u gotovo svakoj prilici. Ansambl svake godine u prosjeku postavlja dvije nove koreografije pokušavajući 
    na taj način upotpuniti ponudu doživljaja etnografskog bogatstva cijele Hrvatske. Uz tako velik broj koreografija, ansambl ima na programu i 
    dvanaest vokalno-instrumentalnih djela, te desetak instrumentalnih djela (muzičkih intermezza). </p>
</div>
